@font-face {
  font-family: 'kakao_r';
  src:
    url('https://github.com/lee-hyunyoung/kakao_font/edit/main/kakao_r/KakaoSmall.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
