@font-face {
  font-family: 'kakao_b';
  src:
    url('https://pages.github.kakaoenterprise.in/josh-ua/font_kakao/kakao_b/KakaoSmallBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}