@font-face {
  font-family: 'kakao_b';
  src:
    url('https://lee-hyunyoung.github.io/kakao_font/kakao_b/KakaoSmallBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
